*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header{
    padding: 10px !important;
    background: #d64e4e00;
}
#header img{
    width: 115%;
}